/* sahlgrenska2014.css */

body {
	margin-top: 0;
}

form.wufoo {
    margin-top: 40px;
}

form li.section h3 {
  border-top: 1px solid rgb(220, 220, 220)!important;
  margin-top: 30px;
  width: 100%!important;
  display: inline-block;
  background-color: rgb(250, 250, 250);
}

form li.section h3 {
    padding: 6px 1% 6px 1%;
}

.highlight-subfield .subfield {
    border-left: 10px solid #fff7c0;
    padding: 7px 10px 5px 10px;}


/****************************************
 * CSS Keywords 
 */

/* fullWidth */
form li.fullWidth,
form li.fullWidth input {
    width: 100%;
}

/* radioGrid */
form li.notStacked.radioGrid {
  width: 720px!important;
}
form li.notStacked.radioGrid div span {
  width: 170px!important;
  margin: 0!important;
}
form li.notStacked.radioGrid div span.choice__text {
  margin-right: 5px!important;
}